.date__wrapper {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.date-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 90px;
  box-sizing: border-box;
}

.date-block__info {
  box-sizing: border-box;
  width: 80px;
  height: 100px;
  border-radius: 15px;
  border: lightgray 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.date-block__text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: gray;
  margin: 0;
  transition: 0.2s;
}

.date-block__date {
  color: black;
}

.date-block__info:hover {
  border: rgb(232,76,61) 3px solid;
}

.date-block__info:hover .date-block__text {
  color: rgb(232,76,61);
}

body.dark .date-block__info:hover .date-block__text {
  color: white;
}

.date-block__info-selected {
  border: black 3px solid;
  background-color: black;
  box-sizing: border-box;
  width: 80px;
  height: 100px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.date-block__text-selected {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  margin: 0;
  transition: 0.2s;
}

body.dark .date-block__info-selected {
  border: rgb(234,234,234) 3px solid;
  background-color: rgb(88,88,88);
}

.dots__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.dot__dark {
  background-color: black;
}

body.dark .dot__dark {
  background-color: rgb(87, 87, 87) ;
}

.dot__light {
  background-color: rgb(232,76,61);
}

body.dark .date-block__date {
  color: rgb(234,234,234);
}

body.dark .date-block__info:hover {
  border: rgb(87, 87, 87) 3px solid;
}

body.dark .date-block__text {
  color: gray;
}



