.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  background-color: #ececec;
  border: 2px solid #dcdcdc;
  box-shadow: 0 0 10px lightgray;
  border-radius: 10px;
  gap: 20px;
}

.form_input {
  width: 75%;
  height: 30px;
  border: none;
  box-shadow: 0 0 2px gray;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  outline: none;
  transition: 0.2s;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

.form_input:focus {
  border: none;
  box-shadow: 0 0 7px gray;
}

.form_input::placeholder {
  font-family: 'Roboto', sans-serif;
}

.form_title {
  margin: 10px 0 0 0;
  font-family: 'Roboto', sans-serif;
  user-select: none;
}

.form_submit {
  width: 80px;
  height: 28px;
  border: none;
  background-color: rgb(232,76,61);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
  margin-bottom: 10px;
}

.form_submit:hover {
  background-color: rgb(248, 118, 105);
}
