.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  height: 200px;
  background-color: #ececec;
  box-shadow: 0 0 4px lightgray;
  border-radius: 10px;
}

.form-input {
  width: 75%;
  height: 30px;
  border: none;
  box-shadow: 0 0 2px gray;
  border-radius: 5px;
  padding: 0 10px 0 10px;
  outline: none;
  transition: 0.2s;
  font-size: 16px;
}

.form-input:focus {
  border: none;
  box-shadow: 0 0 7px gray;
}

.form-input::placeholder {

}

.form-title {
  margin: 0;
}

.form-submit {
  width: 80px;
  height: 28px;
  border: none;
  background-color: rgb(232,76,61);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
  font-size: 16px;
}

.form-submit:hover {
  background-color: rgb(248, 118, 105);
}
